
<mat-toolbar color="primary" class="navbar">
  <span class="logo">Ecoride</span>

  <!-- Espace entre logo et liens -->
  <span class="spacer"></span>

  <!-- Menu burger en mobile -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button mobile-only">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Liens en desktop -->
  <nav class="desktop-only">
    <a mat-button routerLink="/publier">Publier un trajet</a>
    <a mat-button routerLink="/search">Rechercher</a>
    <ng-container *ngIf="isLogged(); else loginLink">
    <a mat-button routerLink="/auth/login">Se deconnecter</a>
    </ng-container>
    <ng-template #loginLink>
      <a mat-button routerLink="/auth/login">S'identifier</a>
    </ng-template>
  </nav>
</mat-toolbar>

<!-- Menu mobile -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/publier">Publier un trajet</button>
  <button mat-menu-item routerLink="/search">Rechercher</button>
  <ng-container *ngIf="isLogged(); else loginLink">
  <button mat-menu-item routerLink="/auth/login">Se deconnecter</button>
  </ng-container>
  <ng-template #loginLink>
    <a mat-menu-item routerLink="/auth/login">S'identifier</a>
  </ng-template>
</mat-menu>

