<form [formGroup]="formGroup" class="filters-form">
  <section>
    <h3>Trier par</h3>
    <mat-radio-group formControlName="sortBy">
      @for (option of sortOptions; track option.value) {
        <mat-radio-button [value]="option.value">
          {{ option.label }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </section>

  <section>
    <h3>Heure de départ</h3>
    <mat-radio-group formControlName="timeRange">
      @for (range of timeRanges; track range.value) {
        <mat-radio-button [value]="range.value">
          {{ range.label }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </section>

  <section>
    <h3>Options</h3>
    <mat-checkbox formControlName="electricOnly">
      Véhicule électrique uniquement
    </mat-checkbox>
    <mat-checkbox formControlName="superDriver">
      Super Driver
    </mat-checkbox>
    <mat-checkbox formControlName="verifiedProfile">
      Profil vérifié
    </mat-checkbox>
  </section>
</form>
