<p>ride-details works!</p>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar ngSrc="ride.driver.photo" alt="avatar"/>
    <mat-card-title>{{ ride.driver.name }}</mat-card-title>
    <mat-card-subtitle>
      Note: {{ ride.driver.rating }}/5
      @if (ride.isEco) {
        <span class="eco-badge">🌱 Éco</span>
      }
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{ ride.departure }} → {{ ride.arrival }}</p>
    <p>Le {{ ride.date | date }} à {{ ride.time }}</p>
    <p>Places: {{ ride.availableSeats }}</p>
    <p>Prix: {{ ride.price }} crédits</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="showDetails.emit(ride.id)">Détails</button>
  </mat-card-actions>
</mat-card>
