<h2>Mes Alertes</h2>

@if (loading) {
  <p class="loading">Chargement des notifications...</p>
} @else if (notifications.length === 0){
 <p class="no-notification">Aucune notification</p>
} @else {
<div *ngFor="let notification of notifications" class="alert-card">
  [class.unread]="!notification.isRead">
  <mat-icon>{{ getIcon(notification.type) }}</mat-icon>
  <div class="notification-content">
    <p>{{ notification.message }}</p>
    <small>{{ notification.createdAt | date:'dd/MM/yyyy HH:mm' }}</small>
  </div>
  <button mat-icon-button (click)="markAsRead(notification.id)">
    <mat-icon>close</mat-icon>
  </button>
</div>
}
